# Enable URL rewriting.
RewriteEngine On

# Set the base directory.
RewriteBase /

# If the request is for a real file or directory, skip the rewrite rules.
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# If the request starts with /api/, route to the API.
RewriteRule ^api(/.*)?$ api/index.php [QSA,L]

# For all other requests, serve the index.html file.
RewriteRule ^ index.html [L]
