# Enable URL rewriting.
RewriteEngine On

# Set the base directory.
RewriteBase /api/

# If the requested file or directory does not exist.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to index.php.
RewriteRule ^(.*)$ index.php [QSA,L]
